@model List<Project>

<h4 class="text-center my-5">Mina projekt</h4>
<a asp-action="AddProject"><button class="btn btn-outline-success">+ Skapa nytt projekt</button></a>

@if (Model.FirstOrDefault() == null){
    <p class="text-center">Du har inte skapat några projekt</p>
}
else{
    <table class="table table-fixed mt-5">
        <thead>
            <td style="width: 20%;" class="fw-bold">Projektnamn</td>
            <td style="width: 40%;" class="fw-bold">Beskrivning</td>
            <td style="width: 20%;" class="fw-bold">Kund</td>
            <td style="width: 20%;" class="fw-bold">Status</td>

        </thead>

        @foreach (Project project in Model)
        {
            <tbody>
                <td>@project.Name</td>
                <td>@project.Description</td>
                <td>@project.ClientHasProjects.FirstOrDefault().Client.Name</td>
                <td>
                    @if (project.IsActive){
                        <span>Aktivt</span>
                    }else{
                        <span>Avslutat</span>
                    }
                    <a asp-action="ProjectInfo" asp-route-projectID="@project.Id"><button class="btn btn-primary" style="float: right;">Visa</button></a>
                </td>

            </tbody>
        }


    </table>
	}
