html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-bottom: 60px;
  font-family: "Poppins", Arial;
}

.hover:hover{
    transform: scale(1.1);
    color: blue;
}

.addNewWindow{
    border: solid;
    border-radius: 10px;
}

.addNewWindow h1{
    text-align: center;
    text-decoration: underline;
}

.addNewWindow label{
    font-weight: bold;
}

.addNewWindow input{
    width: 50%;
    margin-bottom: 20px;
}

.addNewWindow select{
    width: 30%;
    margin-bottom: 20px;
}